:root {
    --accent-color: #46A358;;
    --secondary-color: #3D3D3D;
    --main-color: #FFFFFF;
    --bg-secondary-color: #FBFBFB;

    --font-sm: 14px;
    --font-md: 16px;
    --font-xl: 18px;

    --content-width: 1300px;

    --categories-menu-width: 310px;
    --catalog-gap: 50px;
    --categories-menu-full-width: calc(var(--categories-menu-width) + var(--catalog-gap));
}


body {
    font-family: 'Cera Pro DEMO', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-md);
}

a {
    font-size: var(--font-md);
    color: var(--secondary-color);
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 15px;
}

.catalog {
    margin-top: 20px;
}

.catalog__content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--catalog-gap);
}

.catalog__categories {
    background-color: var(--bg-secondary-color);
    border: 0;
    padding: 15px;
    min-width: var(--categories-menu-width);
    height: 750px;
}

.catalog__categories h4 {
    font-size: var(--font-xl);
    font-weight: bold;
    margin-bottom: 15px;
}


.catalog__categories a.active {
    color: var(--accent-color);
}

.catalog__categories ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.catalog__products {
    display: flex;
    width: calc(100% - var(--categories-menu-full-width));
    flex-wrap: wrap;
    gap: 25px;
    margin-left: auto;
    margin-top: -750px;
}

.catalog__product {
    flex: 25%;
}

.catalog__product-price {
    font-weight: bold;
    color: var(--accent-color)
}

.catalog__product-title-4 {
    margin-top: 25px;
}

.catalog__product-image-4 {
    margin-top: 50px;
}

.catalog__product-title-5 {
    margin-top: 35px;
}

.catalog__product-image-5 {
    margin-top: 40px;
}

.active {
    font-weight: bold;
}

.active-link {
    font-weight: bold;
    color: var(--accent-color);
    border-bottom: solid 3px var(--accent-color);
}

.select {
   margin-left: 300px;
}

.link {
display: flex;

}

.catalog__links {
   margin-left: 10px;
}

li{
    margin-bottom: 15px;
    margin-right: 40px;

}

.banner {
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
    width: 310px;
    height: 420px;
    top: 945px;
    left: 135px;
    gap: 0px;
    opacity: 0px;
    margin-right: 400px;
    margin-top: -470px;
}

.banner__image {
    margin-top: 5px;
}

.banner__sale {
    font-family: Cera Pro, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    margin-top: 10px;
}

.banner__header-sale {
    font-family: Hanging Letters, sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 65px;
    text-align: center;
    margin-top: 20px;
    color: var(--accent-color);

}

.buttons {
    text-align: right;
    margin-right: 430px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.active-button {
    background-color: var(--accent-color);
    width: 35px;
    height: 35px;
    border-radius: 5px;
    color: #FFFFFF;
    margin-right: 5px;
}

.button {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid lightgray;
}
